<footer>
  <div class="footer-line">
    <h1 class="footer__text">{{footerText}}</h1>
    <h1 class="footer__stats"></h1>
  </div>

  <div class="wave-container">
    <svg class="wave" viewBox="0 0 1200 250" preserveAspectRatio="none">
      <path id="wavePath" fill="#031d39" d="M0 108.306L50 114.323C100 120.34 200 132.374 300 168.476C400 204.578 500 264.749 600 246.698C700 228.647 800 132.374 900 108.306C1000 84.2382 1100 132.374 1150 156.442L1200 180.51V0H1150C1100 0 1000 0 900 0C800 0 700 0 600 0C500 0 400 0 300 0C200 0 100 0 50 0H0V108.306Z"></path>
    </svg>
  </div>
</footer>