<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Rowing League</title>

<link rel="stylesheet" href="/css/animations.css">
<link rel="stylesheet" href="/css/forms.css">
<link rel="stylesheet" href="/css/global.css">
<link rel="stylesheet" href="/css/media.css">
<link rel="stylesheet" href="/css/main-content.css">
<link rel="stylesheet" href="/css/navigation.css">
<link rel="stylesheet" href="/css/partipitians.css">
<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="/css/university.css">
<link rel="stylesheet" href="/css/athlete.css">
<link rel="stylesheet" href="/css/participant-card.css">
<link rel="stylesheet" href="/css/media-modal.css">
<link rel="stylesheet" href="/css/rating.css">
<link rel="stylesheet" href="/css/toast-notifications.css">
<link rel="stylesheet" href="/css/admin.css">


<script src="/js/burgerScript.js" defer></script>
<script src="/js/carousel.js" defer></script>
<script src="/js/consoleLogScript.js" defer></script>
<script src="/js/currentPageScript.js" defer></script>
<script src="/js/fetchData.js" defer></script>
<script src="/js/generateTable.js" defer></script>
<script src="/js/hoverScript.js" defer></script>
<script src="/js/modalWindow.js" defer></script>
<script src="/js/saveTable.js" defer></script>
<script src="/js/statsScript.js" defer></script>
<script src="/js/waveAnimation.js" defer></script>
<script src="/js/authorization.js" defer></script>
<script src="/js/ratingToggle.js" defer></script>
<script src="/js/ratingChanges.js"></script>
<script src="/js/admin/athlete-admin.js" defer></script>
<script src="/js/admin/university-admin.js" defer></script>


<script src="https://cdn.jsdelivr.net/npm/animejs/lib/anime.min.js"></script>

<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" />
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
<script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

