.protocol-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 10px;
    height: 210px;
    width: 800px;
}

.protocol-form h2 {
    margin: 0;
    color: #04264a;
}

.protocol-table {
    width: 100%;
    border-collapse: collapse;
}

.protocol-table th, .protocol-table td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

.protocol-table th {
    background: #04264a;
    color: #fff;
}

.protocol-table td[contenteditable="true"] {
    background: #f9f9f9;
}

.form-group {
    margin-bottom: 10px;
}

.filler-height {
    height: 1200px;
    display: flex;
    justify-content: center;
}

.protocol-table-container {
    width: 100%;
    overflow-x: auto;
}

button {
    padding: 8px 15px;
    font-size: 14px;
    background-color: #04264a;
    color: #fff;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.15s ease;
    min-width: 120px;
    box-sizing: border-box;
}

button:hover {
    background-color: #0b5aaf;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}