body {
    margin: 0;
    font-family: Arial, serif;
    background-color: #04264a;
}

.body {
    background: linear-gradient(135deg, #04264a, #1a3a5a);
    padding: 15px;
    margin: 5px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

header {
    font-size: 16px;
    word-spacing: 1px;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: #04264a;
}

.banner-image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.logo__img {
    width: 100%;
}

footer {
    width: 100%;
    height: auto;
}

footer img {
    display: block;
    width: 100%;
    height: 30%;
}

.footer-line {
    margin-top: 20px;
    display: flex;
    align-items: center;
    background-color: #04264a;
    color: white;
    padding: 10px 20px;
    gap: 15px;
}

.footer__text {
    font-size: 24px;
    color: #0a4687;
}

.footer__stats {
    font-size: 20px;
    color: #0a4687;
}

.wave {
    position: absolute;
    width: 100%;
    transform: rotate(180deg);
}

