main {
    font-size: 16px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
    max-width: 1200px;
}

.body_columns {
    display: grid;
    grid-template-columns: minmax(410px, 1fr) minmax(auto, .9fr) minmax(auto, .8fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    background: linear-gradient(135deg, #04264a, #1a3a5a);
    padding: 10px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

@media(max-width: 1000px) {
    .body {
        grid-template-columns: 2fr 1fr;
    }
}

@media(max-width: 700px) {
    .body {
        grid-template-columns: 1fr;
    }
}

.left-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.score-table {
    background: #fff;
    position: relative;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.score-table__women {
    grid-column: 1/2;
    grid-row: 2/3;
}

.score-table__men {
    grid-column: 1/2;
    grid-row: 1/2;
}

.score-table__divider {
    background: #1fa0eb;
    height: 2px;
    grid-column: 1/-1;
    margin: 10px auto 15px;
}

.title {
    align-items: center;
    display: flex;
    gap: 10px;
    margin-left: 10px;
    padding-top: 10px;
    text-transform: uppercase;
}

.title__name {
    font-size: 24px;
    font-weight: 700;
    color: #2c3e50;
}

.title__league {
    color: rgba(0, 0, 0, .72);
    font-size: max(13px, min(3vw, 16px));
    font-weight: 500;
}

.list-item {
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
    border-bottom: 1px solid #e0e0e0;
}

.score-table-text {
    font-size: 24px;
    color: #333;
}

.rating {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.rating__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

.rating__item:hover {
    background-color: #e0e0e0;
}

.rating__position {
    font-size: 18px;
    color: #333;
    margin-right: 10px;
}

.rating__university {
    font-size: 18px;
    color: #3498db;
    text-decoration: none;
    flex-grow: 1;
}

.rating__university:hover {
    text-decoration: underline;
}

.rating__score {
    font-size: 18px;
    color: #2c3e50;
    margin-left: 10px;
}


.view-all {
    text-align: center;
    margin-top: 20px;
}

.view-all a {
    color: #3498db;
    text-decoration: none;
    font-weight: 600;
}

.view-all a:hover {
    text-decoration: underline;
}

.articles {
    grid-column: 2/3;
    grid-row: 1/3;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

@media(max-width: 1000px) {
    .articles {
        grid-column: 1/4;
        grid-row: 3/4;
    }
}

@media(max-width: 700px) {
    .articles {
        grid-column: 1/2;
        grid-row: 3/4;
    }
}

.news {
    display: flex;
    flex-direction: column;
    grid-column: 3/4;
    grid-row: 1/4;
    max-height: 1177px;
    background: #fff;
    box-sizing: border-box;
    font-weight: 700;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
}

.news::-webkit-scrollbar {
    width: 12px;
}

.news::-webkit-scrollbar-track {
    background: #4e9ef4;
    border-radius: 0;
}

.news::-webkit-scrollbar-thumb {
    background-color: #1e5dbb;
    border-radius: 0;
}

.news::-webkit-scrollbar-thumb:hover {
    background-color: #0c4ea2;
}

@media(max-width: 1000px) {
    .news {
        grid-column: 2/4;
        grid-row: 1/3;
        max-height: 814px;
    }
}

@media(max-width: 700px) {
    .news {
        grid-column: 1/2;
        grid-row: 4/5;
        height: 100vh;
    }
}

.news-item {
    border-radius: 10px;
    margin: 10px;
    padding: 15px;
    background-color: #c8dbef;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.preloader {
    text-align: center;
    font-size: 1.2em;
    color: #0078D7;
    margin: 10px 0;
}

.lds-ellipsis, .lds-ellipsis div {
    box-sizing: border-box;
}

.lds-ellipsis {
    position: relative;
    width: 80px;
    height: 80px;
    color: #0078D7;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.lds-ellipsis div {
    position: absolute;
    top: 33px;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: currentColor;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
    left: 8px;
    animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
    left: 8px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
    left: 32px;
    animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
    left: 56px;
    animation: lds-ellipsis3 0.6s infinite;
}

.error {
    text-align: center;
    font-size: 1.2em;
    color: #D70022;
    margin: 10px 0;
}

.media {
    grid-column: 1/3;
    grid-row: 3/4;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 10px;
    height: 400px;
}

@media(max-width: 1000px) {
    .media {
        grid-column: 1/4;
        grid-row: 4/5;
    }
}

@media(max-width: 700px) {
    .media {
        grid-column: 1/2;
        grid-row: 5/6;
    }
}


@media(max-width: 1000px) {
    .body {
        grid-template-columns: 2fr 1fr;
    }
}

@media(max-width: 700px) {
    .body {
        grid-template-columns: 1fr;
    }
}